* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
  color: #4e4e4e;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1e1e1e;
}

ul {
  display: flex;
  list-style: none;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
#nav a{
    color: #fff !important;
    letter-spacing: 1px !important;
}
.bg-body-tertiary {
    background-color: rgba(0, 0, 0, 0.8)!important;
}
#dropdown a{
    color: #4e4e4e !important;
}
#dropdown a:hover{
    color: #0078ff !important;
}
#navbar-list button{
    color: #fff;
    transform: translateY(-3px);
}
#navbar-list a::after, #navbar-list button::before{
    transition: all ease-in-out 0.2s;
    background: none repeat scroll 0 0 #fff;
    content: "";
    display: block;
    height: 2px;
    width: 0;
    transform: translatey(3px);
}
#navbar-list button::before{
    transform: translateY(30px);
}
#navbar-list a:hover::after, #navbar-list button:hover::before{
    width: 100%;
  }
#navbar-list a[data-active="true"]::after {
     width: 100%;
  }
.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/images/hero-bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin: 0;
}
.home h1 {
  font-size: 48px;
  font-weight: 600;
  position: relative;
  color: #fff;
}
.home h1::after {
  content: "";
  font-size: 40px;
  font-weight: 600;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  border-right: 5px solid white;
  text-align: left;
  animation: text-switch 10s infinite alternate steps(10);
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}
.title {
  color: rgb(30, 30, 30);
  font-weight: 600;
  font-size: 18px;
}
.about-info p {
  color: rgb(78, 78, 78);
  font-weight: 400;
  font-size: 14px;
}
.skill span {
  color: rgb(78, 78, 78);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-top: 2rem;
  display: block;
}
.aboutme-card {
  width: 90%;
  padding: 1rem;
}
.title-box-2 {
  position: relative;
}
.title-box-2 h5 {
  color: rgb(30, 30, 30);
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 2rem;
}
.lead {
  color: rgb(78, 78, 78);
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}
.title-box-2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 20%;
  height: 3px;
  background-color: #0078ff;
}
.title-box {
  margin-bottom: 4rem;
  margin-top: 3rem;
}
.line-mf {
  width: 40px;
  height: 5px;
  background-color: #0078ff;
  margin: 0 auto;
}
.title-main {
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}
.subtitle-main {
  text-decoration: none;
  color: #4e4e4e;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.ico-circle {
  height: 100px;
  width: 100px;
  font-size: 2rem;
  border-radius: 50%;
  line-height: 1.55;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 0 10px #0078ff;
  display: block;
}
.service-box .ico-circle {
  transition: all 500ms ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.service-box .ico-circle:hover {
  background-color: #0078ff;
  box-shadow: 0 0 0 10px #cde1f8;
}
.service-box {
  background-color: #fff;
  padding: 2.5rem 1.3rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
  text-align: center;
  box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.1);
}
.service-box .s-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  padding: 0.4rem 0;
  margin-top: 1rem;
}
.counter {
  background-image: url(../assets/images/post-3.jpg);
  padding: 8rem 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 0;
}
.blue-tint {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  background-color: #0078ff;
  z-index: -1;
}
.counter .ico-circle {
  box-shadow: 0 0 0 10px #cde1f8;
  height: 60px;
  width: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.counter-value {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.counter-value h4 {
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  color: #fff;
}
.portfolio-text {
  padding: 2rem 3% 1rem 4%;
}
.portfolio-text h2 {
  font-size: 1.2rem;
}
.portfolio-text p {
  color: #4e4e4e;
  font-size: 0.8rem;
}
.portfolio-box img {
  transition: all 1s;
}
.portfolio-box:hover {
  img {
    transform: scale(1.3);
  }
}
.portfolio-text span {
  color: #0078ff;
}
.portfolio-img {
  overflow: hidden;
}
.plus-icon {
  font-size: 2.5rem;
  color: #0078ff;
  float: right;
}
.testimonial,
.contact {
  background-image: url(../assets/images/overlay-bg.jpg);
  padding: 8rem 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 0;
}
.testimonial-box {
  padding: 5rem;
}
.testimonial-box h4 {
  font-size: 22px;
  font-weight: 600;
  line-height: 34px;
  margin: 1rem 0;
  text-transform: uppercase;
  color: #fff;
}
.testimonial-box p {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}
.carousel-control-prev,
.carousel-control-next {
  display: none;
}
.blog-card {
  margin-bottom: 3rem;
}
.card-category {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0078ff;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.1px;
  width: fit-content;
  border-radius: 4px;
  padding: 7px 15px;
}
.card-body {
  padding-bottom: 0;
}
.card-body a {
  font-size: 22px;
  font-weight: 500;
  line-height: 25px;
  color: rgb(78, 78, 78);
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
.card-body a:hover {
  color: #0078ff;
}
.blog-author img {
  width: 32px;
  height: 32px;
  margin-right: 4px;
  overflow: hidden;
}
.card-footer a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.form-input input,
textarea {
  display: block;
  font-family: inherit;
  width: 100%;
  padding: 10px 15px;
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #dee2e6;
}
.button {
  background-color: #0078ff;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 5rem;
  font-size: 1.2rem;
  text-align: center;
  vertical-align: middle;
}
.button:hover {
  background-color: #3393ff;
  box-shadow: 0 0 0 4px #cde1f8;
}
.contact-icons {
  line-height: 2;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.contact-icons p {
  display: inline;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: rgb(78, 78, 78);
}
.social-media .ico-circle {
  height: 40px;
  width: 40px;
  font-size: 1.2rem;
  border-radius: 50%;
  line-height: 1.6;
  margin: 0 15px 0 0;
  color: #000;
  box-shadow: 0 0 0 3px #0078ff;
}
.social-media .ico-circle:hover {
  background-color: #0078ff;
  color: #fff;
  box-shadow: 0 0 0 3px #cde1f8;
  transition: all 500ms ease;
}
footer {
  text-align: center;
  color: #fff;
  padding: 25px 0;
  background: #0062d3;
}
footer a {
  text-decoration: none;
  color: #fff;
}
@keyframes text-switch {
  0%,
  10% {
    content: "Designer";
    width: 190px;
  }
  17% {
    content: "Designer";
    width: 0;
  }
  18% {
    content: "Designer";
    width: 0;
  }
  25%,
  40% {
    content: "Developer";
    width: 210px;
  }
  50% {
    content: "Developer";
    width: 0;
  }
  51% {
    content: "Freelancer";
    width: 0;
  }
  60%,
  70% {
    content: "Freelancer";
    width: 230px;
  }
  80% {
    content: "Freelancer";
    width: 0;
  }
  81% {
    content: "Photographer";
    width: 0;
  }
  90%,
  100% {
    content: "Photographer";
    width: 280px;
  }
}
@media (min-width: 1024px) {
  .home h1 {
    font-size: 72px;
  }
  .aboutme-card {
    width: 70%;
  }

  .aboutme-card {
    padding: 6rem;
  }
}